{% extends 'listings/dashboard.html' %}
{% load url from future %}

{% block dashboard_content %}
  <h3>Checkout</h3>

  {% include 'messages.html' %}
  {% include 'cart/steps.html' with step2=1 %}

  {% if cart.items.count == 0 %}
  <p>No items in shopping cart.</p>
  {% else %}
  <div class="row">
    <div class="span10">
      <table id="shopping-cart">
        <thead style="text-align: left;">
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
      {% for item in cart.items.all %}
      <tr>
        <td class="span5">
          {% if item.listing.images.all.0.thumbnail %}
          <img src="{{item.listing.images.all.0.thumbnail.url}}" width="90" />
          {% endif %}
          <span style="margin-left: 20px;">{{item.listing.name}}</span>
        </td>
        <td class="span4">
          <p>USD {{item.listing.price}}</p>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td class="span5">&nbsp;</td>
        <td class="span4">
          <h5>Total: USD {{ cart.total }}</h5>
        </td>
      </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="span5">
    <h4>Delivery Address</h4>
      <p>
        <span class="label label-info">Heads up!</span><br />
        Please check that the delivery address is correct.<br />
        We are not responsible if the item is delivered to the wrong address.
      </p>
      <h5>Items will be delivered to:</h5>
      <p>{{ payment.address|linebreaksbr }}</p>
      <a class="btn" href="{% url 'cart:view' %}?edit=True">Edit Address or shopping cart</a>
    </div>
    <div class="span4">
      <h4>Make payment</h4>
      {{ paypal_form.sandbox }}
    </div>
  </div>

  {% endif %}
{% endblock %}
