{% extends 'listings/dashboard.html' %}
{% load url from future %}

{% block dashboard_content %}
  <h3>Shopping cart</h3>

  {% include 'messages.html' %}

  {% if cart.items.count == 0 %}
  <p>No items in shopping cart.</p>
  {% else %}
  <table class="span10">
    <thead style="text-align: left;">
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
  {% for item in cart.items.all %}
  <tr>
    <td class="span6">
      <img src="{{item.listing.images.all.0.thumbnail.url}}" />
      <span style="margin-left: 20px;">{{item.listing.name}}</span>
    </td>
    <td class="span3">
      <p>{{item.quantity}} x USD {{item.listing.price}} = {{item.price}}</p>
    </td>
    <td class="span1">
      <a class="btn btn-small" href="{% url 'cart:remove' item.listing.id %}" style="margin-top: -15px;">Remove</a>
    </td>
  </tr>
  {% endfor %}
  </table>

  <div style="text-align: right;">
    <div class="span2 offset7">
      Total: {{cart.total}}
    </div>
  </div>

  {{ form.sandbox }}
  {% endif %}
{% endblock %}
