{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span6 offset3">
    {% include 'form.html' with legend='Login' %}

    <p><a href="{% url 'accounts:forgot_password' %}">Forgot your password?</a></p>

    <h6>Alternative logins</h6>
    <a href="https://www.facebook.com/dialog/oauth?client_id=536337693059624&redirect_uri={{ server_url }}accounts/facebook-login&scope=email"><img src="{{ STATIC_URL }}img/fb_connect.png" /></a>
    or <img id="persona-signin" src="{{ STATIC_URL }}img/email_sign_in_red.png" />
  </div>
{% endblock %}

{% block js_footer %}
<script src="https://login.persona.org/include.js"></script>

<script>
  $('#persona-signin').click(function() {
    navigator.id.request({
      siteName: 'UIConnect',
    });
  });

    currentUser = null;
    navigator.id.watch({
    loggedInUser: currentUser,
    onlogin: function(assertion) {
      // A user has logged in! Here you need to:
      // 1. Send the assertion to your backend for verification and to create a session.
      // 2. Update your UI.
      console.log('Assertion is ' + assertion);
      $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
        type: 'POST',
        url: '/accounts/persona-login/', // This is a URL on your website.
        data: {assertion: assertion},
        success: function(res, status, xhr) { window.location.reload(); },
        error: function(res, status, xhr) { alert("login failure " + res); }
      });
    },
    onlogout: function() {
      // A user has logged out! Here you need to:
      // Tear down the user's session by redirecting the user or making a call to your backend.
      // Also, make that loggedInUser will get set to null on the next page load.
      // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
      $.ajax({
        type: 'POST',
        url: '/auth/logout', // This is a URL on your website.
        success: function(res, status, xhr) { window.location.reload(); },
        error: function(res, status, xhr) { alert("logout failure" + res); }
      });
    }
  });
</script>

{% endblock %}
