{% extends 'listings/dashboard.html' %}
{% load url from future %}

{% block dashboard_content %}
    <h3>Rewards</h3>

    {% include 'messages.html' %}

    {% if user.is_authenticated %}
    <p>You have {{ user.get_profile.points }} points.</p>
    {% endif %}

    {% if user.redeemed_rewards.all %}
    <h4>You have redeemed the following:</h4>
    {% for r in user.redeemed_rewards.all %}
    <p>{{ r.name }}</p>
    {% endfor %}
    {% endif %}

    {% if not rewards %}
      <h4>No rewards</h4>
    {% else %}
      <h4>All rewards</h4>
      <div class="row">
      {% for r in rewards %}
      <div class="span3 well">
        <h4>{{ r.name }}</h4>
        <p>Points needed: {{ r.points_required }}</p>
        {% if user.is_authenticated and user.get_profile.points >= r.points_required %}
          <a class="btn btn-small" href="#" data-target="#redeemModal_{{ r.id }}" data-toggle="modal">Redeem</a>

          <div class="modal hide" id="redeemModal_{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Are you sure you want to redeem this voucher?</h3>
            </div>
            <div class="modal-body">
              <p>You will receive an email from us with the voucher code.</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a class="btn btn-success" href="{% url 'rewards:redeem' r.id %}">Yes, redeem</a>
            </div>
          </div>


        {% endif %}
      </div>
      {% endfor %}
      </div>
    {% endif %}
{% endblock %}

