{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <h1>All Categories <small>sorted by popularity</small></h1>

  {% for c in categories %}
    <h3>{{ c.name }} <small>(<a href="{% url 'listings:category' c.slug %}">see all items under {{ c.name }}</a>)</small></h3>

    {% include 'listings/thumbnails.html' with listings=c.display_listings %}

  {% endfor %}
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>
{% endblock %}
