{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <h1>All Items in {{ category.name }}</h1>

  <ul class="sort_type nav nav-pills">
    <li{% if not sort_type %} class="active"{% endif %}><a href="{% url 'listings:category' category.slug %}">Popularity</a></li>
    <li{% if sort_type %} class="active"{% endif %}><a href="{% url 'listings:category' category.slug %}?sort_type=latest">Latest Items</a></li>
  </ul>

  <ul class="thumbnails">
    {% for listing in category.display_listings %}
    <li class="span3">
      <div class="thumbnail">
        <a href="{% url 'listings:view' listing.id %}">
        <div class="thumbnail-wrapper">
          {% if listing.images.all.0.image %}
          <img src="{{ listing.images.all.0.image.url }}" alt="" >
          {% else %}
          <p>No image for this item.</p>
          {% endif %}
        </div>
        <h5>{{ listing.name }}</h5>
        </a>
        <div class="thumbnail-info-wrapper" style="padding: 10px;">
          <p class="pull-left">
            USD {{ listing.price }}
          </p>
          <p class="pull-right">
            <a {% if listing.likes.count > 0  %} data-placement="top" rel="tooltip" href="#" data-original-title="Most recently liked by {{ listing.last_liked_user }}" {% endif %}><i class="icon-heart"></i> {{ listing.likes.count }} Likes</a>
          </p>
        </div>
      </div>
      </a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block js_footer %}
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>
{% endblock %}
