{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span3">
    <h1>Dashboard</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#">News feed</a></li>
      <li><a href="{% url 'rewards:index' %}">Rewards ({{ user.get_profile.points }} points)</a></li>
      <li><a href="{% url 'accounts:following' %}">Users followed</a></li>
      <li><a href="{% url 'payments:index' %}">Payments</a></li>
    </ul>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="{% url 'dashboard' %}">My items and collections</a></li>
      <li><a href="{% url 'listings:add' %}">Add Item</a></li>
      <li><a href="{% url 'collections:add' %}">Add Collection</a></li>
    </ul>
  </div>
  <div class="span9">
    {% block dashboard_content %}
    {% include 'messages.html' %}

    {% if listings %}
      <h3>My items</h3>

      {% include 'listings/thumbnails.html' with listings=listings %}
    {% endif %}

    {% if collections %}
      <h3>My Collections</h3>
      {% include 'collections/preview.html' with collections=collections %}
      </div>
    {% endif %}

  {% endblock %}

  </div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>
{% endblock %}
