{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span3">
    <h1>Dashboard</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="{% url 'dashboard' %}">My items and collections</a></li>
      <li><a href="{% url 'listings:add' %}">Add Item</a></li>
      <li><a href="{% url 'collections:add' %}">Add Collection</a></li>
      <li><a href="{% url 'rewards:index' %}">Rewards</a></li>
      <li><a href="{% url 'accounts:following' %}">Users followed</a></li>
      <li><a href="{% url 'payments:index' %}">Payments</a></li>
    </ul>
  </div>
  <div class="span9">
    {% block dashboard_content %}
    {% include 'messages.html' %}

    {% if listings %}
      <h3>My items</h3>

        <ul class="thumbnails">
          {% for listing in listings %}
          <li class="span3">
            <div class="thumbnail" style="text-align: center;">
              <a href="{% url 'listings:view' listing.id %}">
              <div class="thumbnail-wrapper" style="width: 100%; height: 150px; overflow: hidden; position: relative; text-align: left;">
                <img src="{{ listing.images.all.0.image.url }}" alt="" style="position: absolute; top:50%; margin-top: -5em;">
              </div>
              <h5>{{ listing.name }}</h5>
              </a>
              <div class="thumbnail-info-wrapper" style="padding: 10px;">
                <p class="pull-left">
                  USD {{ listing.price }}
                </p>
                <p class="pull-right">
                  <a {% if listing.likes.count > 0  %} data-placement="top" rel="tooltip" href="#" data-original-title="Most recently liked by {{ listing.last_liked_user }}" {% endif %}><i class="icon-heart"></i> {{ listing.likes.count }} Likes</a>
                </p>
              </div>
            </div>
            </a>
          </li>
          {% endfor %}
        </ul>
    {% endif %}

    {% if collections %}
      <h3>My Collections</h3>
      <div class="row">
      {% for c in collections %}
      <div class="span3">
        <a href="{% url 'collections:view' c.id %}">{{c.name}}</a>
      </div>
      {% endfor %}
      </div>
    {% endif %}

  {% endblock %}

  </div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>
{% endblock %}
