{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span2">
    <h1>Dashboard</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="{% url 'dashboard' %}">My listing and collections</a></li>
      <li><a href="{% url 'listings:add' %}">Add Listing</a></li>
      <li><a href="{% url 'collections:add' %}">Add Collection</a></li>
      <li><a href="{% url 'accounts:following' %}">Users followed</a></li>
      <li><a href="{% url 'payments:index' %}">Payments</a></li>
    </ul>
  </div>
  <div class="span10">
    <h1>&nbsp;</h1>
    {% block dashboard_content %}
    {% include 'messages.html' %}

    {% if listings %}
      <h2>Listings</h2>
      <div class="row">
      {% for listing in listings %}
      <div class="span3">
        <h4>{{ listing.name }}</h4>
        <a href="{% url 'listings:view' listing.id %}" class="thumbnail">
          <img src="{{listing.images.all.0.thumbnail.url}}" alt="">
          <p>{{listing.description|truncatewords:10}}</p>
        </a>
      </div>
      {% endfor %}
      </div>
    {% endif %}

    {% if collections %}
      <h2>Collections</h2>
      <div class="row">
      {% for c in collections %}
      <div class="span3">
        <a href="{% url 'collections:view' c.id %}">{{c.name}}</a>
      </div>
      {% endfor %}
      </div>
    {% endif %}

  {% endblock %}

  </div>
{% endblock %}

