{% extends 'base.html' %}
{% load url from future %}

{% block html_head %}
    <link href="{{STATIC_URL}}css/elastislide.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>discover <small>the newest, the coolest</small></h1>

  <p>bringing you the newest items on sale!</p>

  <ul class="nav nav-pills">
    <li class="active"><a href="#all" data-toggle="tab" onclick="showItems(0);">All items</a></li>
    {% for c in categories %}
    <li><a href="#{{ c.id }}" data-toggle="tab" onclick="showItems({{ c.id }});">{{ c.name }}</a></li>
    {% endfor %}
  </ul>

  <div id="container" class="clearfix">
    {% for l in listings %}
    {% if l.images.all.0.image %}
    <div class="box photo col3">
      <a href="{% url 'listings:view' l.id  %}"><img src="{{ l.images.all.0.image.url }}" alt="{{ l.name }}" /></a>
    </div>
    {% endif %}
    {% endfor %}
  </div>


{% endblock %}

{% block js_footer %}
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>

<script>

  var $container = $('#container');

  $container.imagesLoaded( function(){
    $container.masonry({
      itemSelector : '.box',
      isAnimated: true,
      animationOptions: {
        duration: 500,
        easing: 'linear',
        queue: false
      }
    });
  });

  var current = 0;

  function showItems(category_id){
    current = category_id;
    $('#container').empty();
    var count = 500;
    $.get('{% url 'listings:discover_items' %}?category_id='+category_id, function(data) {
        $.each(data.items, function() {
          var $item = $('<div class="box photo col3"><a href="' + this.url + '"><img src="' + this.thumbnail + '" /></a></div>');
          $('#container').append( $item ).masonry( 'reload' );
          $item.fadeIn(count);
          count += 1000;
        });
    });
  }

  function doPoll(){
    $.get('{% url 'listings:discover_new_items' %}?category_id='+current, function(data) {
    var count = 2000;
        $.each(data.items, function() {
          var $item = $('<div class="box photo col3"><a href="' + this.url + '"><img src="' + this.thumbnail + '" /></a></div>');
          $('#container').prepend( $item ).masonry( 'reload' );
          $item.fadeIn(count + 1000);
        });
        setTimeout(doPoll,30000);
    });
  }

  $(document).ready(function(){
    doPoll();
  });

</script>
{% endblock %}

