{% extends 'listings/dashboard.html' %}
{% load url from future %}

{% block dashboard_content %}
  <div class="span9">

    <h3>Images for {{listing.name}}</h3>

    {% include 'messages.html' %}

    <div id="injection_site"></div>
    {% if listing.images.all %}
      {% for img in listing.images.all %}
      <div class="row">
      <div class="span2">
        <img id="image{{img.id}}" class="thumbnail" src="{{img.formatted_image.url}}" width="200" alt="" style="margin-bottom: 10px;">

        Please ignore this edit first, testing out something
        <!-- Add an edit button, passing the HTML id of the image and the public URL ot the image -->
        <p><input type="image" src="http://advanced.aviary.com/images/feather/edit-photo.png" value="Edit photo" onclick="return launchEditor('image{{ img.id }}', 'http://54.251.19.202{{ img.image.url }}');" /></p>

      </div>
      <div class="span4">
        <form class="form-inline">
          <textarea id="caption_{{img.id}}" class="span4" rows="5">{{ img.caption }}</textarea>
        </form>
        <p>
          <a class="btn btn-danger btn-small" href="#" data-target="#myModal_{{img.id}}" data-toggle="modal"><i class="icon-trash"></i> Delete</a>
          <a class="btn btn-small" href="#" onclick="updateCaption('{% url 'listings:update_image_caption' listing.id img.id %}', {{img.id}});"><i class="icon-edit"></i> Update Caption</a>
          <span id="success_{{img.id}}" class="label label-success" style="display: none;">Saved</span>
        </p>
      </div>
      <div class="span1">
        <div class="modal hide" id="myModal_{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Are you sure you want to delete this image?</h3>
          </div>
          <div class="modal-body">
            <img class="thumbnail" src="{{img.formatted_image.url}}" width="200" alt="">
            <p>You will not be able to recover this image in future.</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <a class="btn btn-danger" href="{% url 'listings:delete_image' listing.id img.id %}">Yes, delete</a>
          </div>
        </div>

      </div>
      </div>
      {% endfor %}
    {% else %}
      <p>No images yet!</p>
    {% endif %}

    <h3>Upload a new image</h3>
    <form class="form-horizontal" action="{% url 'listings:manage_images' listing.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail"><img src="" style="width: 200px; height: 100px;" /></div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="width: 200px;"></div>
            <div style="display: inline;">
            <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="img" /></span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Caption</label>
        <div class="controls">
          <textarea name="caption" class="span5"></textarea>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Upload</button>
        <a href="{% url 'listings:view' listing.id %}" class="btn">Go back</a>
      </div>
    </form>

  </div>
{% endblock %}

{% block js_footer %}
<script>
  $('.fileupload').fileupload();
</script>
<script>
  function updateCaption(url, image_id){
    console.log(image_id);
    var content = $('#caption_'+image_id).val();
    console.log(content);

    $.post(url, { "caption": content },
      function(data){
        console.log(data.success);
        $('#success_'+image_id).show();
        $('#success_'+image_id).delay(2000).fadeToggle(2000, 'linear');
      }, "json");
    }
</script>

<!-- Load Feather code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

<!-- Instantiate Feather -->
<script type="text/javascript">
    var featherEditor = new Aviary.Feather({
        apiKey: '5416c69ae',
        apiVersion: 2,
        tools: 'all',
        appendTo: '',
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;
        },
        postUrl: 'http://54.251.19.202/items/aviary-post/',
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }
</script>

{% endblock %}
