{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span2">
    <p>
      <small>listed by</small><br />
      {% if listing.user.get_profile.avatar %}
      <img src="{{ listing.user.get_profile.avatar.url }}" />
      {% else %}
      <img src="http://placehold.it/100x100" />
      {% endif %}
      <p>{{ listing.user.first_name }}</p>
      <blockquote><small>{{ listing.user.get_profile.bio|truncatewords:15 }}</small></blockquote>
    </p>

    {% if user == listing.user or user.is_staff %}
    <div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are you sure you want to delete this listing?</h3>
    </div>
    <div class="modal-body">
    <p>You will not be able to recover this listing in future.</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a class="btn btn-danger" href="{% url 'listings:delete' listing.id %}">Yes, delete</a>
    </div>
    </div>

    {% endif %}
  </div>

  <div class="span10">
    <div class="pull-left">
      <div id="listingCarousel" class="carousel slide" data-interval="0" style="width: 200px; height: 430px;">
        <div class="carousel-inner">

          {% for img in listing.images.all %}

          <div class="item{% if forloop.first %} active{% endif %}">
            <img src="{{ img.formatted_image.url }}" alt="" />
            <div class="carousel-caption" style="position: relative; margin-top: 0;">
              <p>{{img.caption}}</p>
            </div>
          </div>

          {% endfor %}

        </div>
        {% if listing.images.count > 1 %}
        <a class="left carousel-control" href="#listingCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#listingCarousel" data-slide="next">&rsaquo;</a>
        {% endif %}
      </div><!-- end carousel -->
    </div>

    <div class="pull-left listing-info">
      <h1>{{listing.name}}</h1>

      <dl class="span7 dl-horizontal">
        <dt>Selling for</dt>
        <dd>USD {{listing.price}}</dd>

        <dt>Collections</dt>
        <dd>
          <a class="label label-info" href="#">back to school</a>
          <a class="label label-info" href="#">student essentials</a>
          <a class="label label-info" href="#">good student</a>
        </dd>

        <dt>Description </dt>
        <dd>{{listing.description}}</dd>

      </dl>
    </div>

    <div class="clearfix">&nbsp;</div>
    <h5>Owner's menu</h5>

    <div class="btn-toolbar" style="margin-bottom: 30px;">
      <div class="btn-group">
        <a class="btn btn-danger" href="#" data-target="#myModal" data-toggle="modal"><i class="icon-trash"></i> Delete Listing</a>
        <a class="btn" href="#"><i class="icon-camera"></i> Manage Images</a>
        <a class="btn" href="#"><i class="icon-pencil"></i> Edit Listing</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_footer %}
{% if user == listing.user %}
<script src="{{STATIC_URL}}js/jquery.jeditable.mini.js"></script>

<script>
$(document).ready(function() {
  var url = "{% url 'listings:update' listing.id %}";
  $('.edit').editable(url, {
    submit: 'OK',
  });
  $('.desc').editable(url, {
    type    : 'textarea',
    rows    : 15,
    cols    : 40,
    submit  : 'OK',
    data: function(value, settings) {
      /* Convert <br> to newline. */
      var retval = value.replace(/<br[\s\/]?>/gi, '\n');
      return retval;
    }
  });
});
</script>
{% endif %}
{% endblock %}
