body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  margin-top: 10px;
}

form>fieldset>legend{border: 0; display: none;}

a { color: #f87242; }
a.btn-small>i{margin-top: 2px;}
a.btn>i{margin-top: 3px;}

.bottom-shadow{
  -moz-box-shadow:    0 4px 4px -2px #eee;
  -webkit-box-shadow: 0 4px 4px -2px #eee;
  box-shadow:         0 4px 4px -2px #eee;
}

div#nav-wrapper{ padding-top: 40px; }
div#container-wrapper{ margin-top: 10px; }

div.info{ margin-top: 20px; text-align: center; }
div.info p{ text-align: justify; }
div.info div.span4 { margin-top: 50px; }
div.info i{font-size: 5em; display: block; width: 60px; margin-left: auto; margin-right: auto; margin-bottom: 20px;}

ul.thumbnails div.thumbnail{
  border-radius: 0;
  border: none; !important
  box-shadow: none; !important
  text-align: center;
}
div.thumbnail h5{
    text-align: center;
}
ul.thumbnails>li>div.thumbnail a{
  color: #333;
  text-decoration: none;
}
ul.thumbnails>li{
  -moz-box-shadow:    0 4px 4px 2px #ddd;
  -webkit-box-shadow: 0 4px 4px 2px #ddd;
  box-shadow:         0 4px 4px 2px #ddd;
}

ul.thumbnails>li:hover{
  -moz-box-shadow:    0 4px 4px 2px #aaa;
  -webkit-box-shadow: 0 4px 4px 2px #aaa;
  box-shadow:         0 4px 4px 2px #aaa;
}

ul.thumbnails div.thumbnail-wrapper{
 width: 100%;
 height: 150px;
 overflow: hidden;
 position: relative;
 text-align: left;
}

ul.thumbnails div.thumbnail-wrapper img, ul.thumbnails div.thumbnail-wrapper p{
  position: absolute;
  top:50%;
}

ul.thumbnails div.thumbnail-wrapper img{ margin-top: -5em; }
ul.thumbnails div.thumbnail-wrapper p{ display: block; text-align: center; width: 100%;}
ul.thumbnails div.thumbnail-wrapper p>a:hover{ text-decoration: underline; }

/* Collections page */

div.collection-preview-image {
  width: 100%;
  height: 120px;
  background-image: url('../img/collection_bg.png');
  position: relative;
  margin-bottom: 20px;
  -moz-box-shadow:    0 4px 4px 2px #ddd;
  -webkit-box-shadow: 0 4px 4px 2px #ddd;
  box-shadow:         0 4px 4px 2px #ddd;
}


div.collection-preview-image:hover {
  -moz-box-shadow:    0 4px 4px 2px #aaa;
  -webkit-box-shadow: 0 4px 4px 2px #aaa;
  box-shadow:         0 4px 4px 2px #aaa;
}

div.collection-preview-image h3, div.collection-preview-image p{
  position: absolute;
  color: #333;
  text-align: right;
  background-color:rgba(255,255,255,0.7);
  padding: 5px;
}

div.collection-preview-image h3{
  top: 10px;
  right: 10px;
}

div.collection-preview-image p{
  bottom: 10px;
  right: 10px;
}

/* Newsfeed */

div.news-item{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 20px;
}

ul.newsfeed-thumbnails{
  width: 100%;
  display: block;
}

ul.newsfeed-thumbnails>li{
  width: 300px;
  margin-left: 200px;
}

/* Listing and Collection page */

div#collection-image>div.span10 {border: 8px solid #eee;}
div#collection-description p {text-align: center; margin-left: -20px; }

div#collection-title, div#collection-listings-title, div#listing-title { text-align: center; }
div#collection-user, div#listing-user { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 5px 5px 5px; }
div#collection-image, div#listing-user-stats { text-align: right; margin-top: 5px; }
div#collection-description, div#listing-images { margin: 20px 0 20px 0; }

div#listing-images div#listing-carousel { margin-left: -20px; height: 400px; overflow: hidden; }
div#listing-images div#listing-carousel { box-shadow: 0 4px 4px 3px #ccc; }

img.carousel-avatar { min-width: 1px; max-width: 30px; min-height: 30px; }

div#listing-info h6{ margin-top: 20px; margin-bottom: 3px; font-weight: lighter; }

.top-navbar, .top-navbar>.navbar-inner, .top-navbar>.navbar-inner>.container, .navbar-static-top{
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  text-shadow: none;
  border-radius: 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #f87242;
  text-shadow: none;
  text-transform: uppercase;
  font-family: Helvetica,sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 7px 5px 5px 5px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
  color: #f87242;
  border: 1px solid #ddd;
  background-color: #eee;
}

.top-navbar>.navbar-inner>.container>a.brand{
  font-family: 'Jim Nightshade', cursive;
  font-size: 2.1em;
  font-weight: lighter;
  color: #f87242;
  border: none;
  background-color: #fff;
  text-transform: none;
}

.mid-navbar { margin-bottom: 5px;}

.mid-navbar,
.mid-navbar>.navbar-inner,
.mid-navbar>.navbar-inner>.container,
.navbar-static-top{
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.top-navbar ul.nav>li>a>span.label{
  margin-left: 5px;
  padding: 5px 3px 3px 3px;
}

#featured-listings{
  background-image: url('../img/dark_dotted.png');
  padding: 10px;
  color: #ccc;
  font-size: 1.1em;
  font-weight: 100;
}

#featured-listings h3, #featured-listings h5{
  font-family: 'Josefin Slab', serif;
}

#featured-listings h3{
  margin-top: 0;
  padding-top: 0;
}

#featured-listings h5{
  margin-top: 150px;
  font-size: 1.5em;
}

#featured-listings a{
  color: #e78f08;
  text-decoration: none;
}

#featured-listings ul.nav-pills>li.active>a,
#featured-listings ul.nav-pills>li>a:hover{
  background-color: #333; !important
}

#featured-listings img.listing-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#featured-listings div.carousel{
  border: 2px solid #222;
  border-radius: 5px;
}

#featured-listings div.carousel-caption{
  text-align: left;
  background: none;
}

.default-avatar{
  width: 100px;
  height: 60px;
  font-size: 5em;
  background-color: #aaa;
}

.default-thumbnail{
  width: 200px;
  height: 100px;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.default-avatar, .default-thumbnail {
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

.default-avatar-small{
  width: 30px;
  height: 20px;
  font-size: 1em;
  padding-top: 5px;
  display: block;
}

.following-avatar img{ width: 30px; }

/* shopping cart */

table#shopping-cart { margin-left: 0; text-align: center; }
table#shopping-cart th{ text-align: center; }
table#shopping-cart td { padding: 10px; }

table#shopping-cart, table#shopping-cart tr, table#shopping-cart td{
  border: 1px solid #ddd;
}

textarea.delivery-address { height: 60px; }
input.btn-checkout { margin-left: 10px; }

/* payment */

div#payment-info { margin-top: 20px; margin-bottom: 30px; }

div.payment-heading a { color: #333; }

/* social buttons */
iframe.twitter-share-button { margin-top: 10px; }

/* bubble */
.bubble, .bubble-owner {
  position: relative;
  background-color:#eee;
  margin: 0;
  margin-bottom: 20px;
  padding:10px;
  text-align:left;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
.bubble:after, .bubble-owner:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
}

.bubble:after{ left: 0.5em; }
.bubble-owner:after{ right: 7.4em; }

/* persona */
img#persona-signin{
    cursor: pointer;
}
