{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UIConnect - {% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="UIConnect"/>

    {% block meta_tags %}{% endblock %}

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jim+Nightshade' rel='stylesheet' type='text/css'>
    {% block html_head %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="nav-wrapper">
    <div class="navbar navbar-inverse top-navbar navbar-fixed-top bottom-shadow">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'index' %}">trends</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              {% if user.is_authenticated %}
              {% if user.get_profile.avatar %}
              <li><img src="{{MEDIA_URL}}{{user.get_profile.avatar}}" width="30" style="margin-top: 4px; border-radius: 5px;" /></li>
              {% endif %}
              <li><a href="{% url 'accounts:profile' %}">{{user.first_name}}</a></li>
              <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li>
                <a href="{% url 'cart:view' %}">Shopping Cart {% if user.cart.items.count > 0 %}<span class="label label-success">{{ user.cart.items.count }}</span>{% endif %}</a>
              </li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:register' %}">Register</a></li>
              {% endif %}
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="navbar mid-navbar">
        <div class="navbar-inner">
        <div class="container">
          <div class="nav">
            <ul class="nav">
              <li><a href="{% url 'collections:index' %}">Featured collections</a></li>
              <li><a href="{% url 'collections:index' %}?type=new">New collections</a></li>
            </ul>
          </div>
          <form class="navbar-form pull-right" action="{% url 'search:results' %}" method="POST">
            {% csrf_token %}
            <input name="query" type="text" class="span3" placeholder="What are you looking for?">
            <input name="search_type" type="hidden" value="all" />
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>
    </div>

    {% block pre_container %}{% endblock %}

    <div id="container-wrapper">
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>

    </div> <!-- /container -->
    </div>
    <div class="container">
      <hr />
      <footer>
        <p>&copy; UIConnect 2012</p>
      </footer>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.8.0.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-fileupload.js"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=536337693059624";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    {% block js_footer %}{% endblock %}
  </body>
</html>
