{% extends 'base.html' %}
{% load url from future %}

{% block content %}
  <div class="span10 offset1">
    {% include 'messages.html' %}
    {% if listings %}
      {% for listing in listings %}
      <div class="span3">
        <h4>{{ listing.name }}</h4>
        <a href="{% url 'listings:view' listing.id %}" class="thumbnail">
          <img src="{{listing.images.all.0.thumbnail.url}}" alt="">
          <p>{{listing.description|truncatewords:10}}</p>
        </a>
      </div>
      {% endfor %}
    {% else %}
      <h3>No listings</h3>
    {% endif %}
  </div>
{% endblock %}
