{% extends 'base.html' %}
{% load url from future %}

{% block content %}
    <div class="span12">
      <h1>Featured</h1>
    </div>

    <div class="span2">
      <ul id="categories_tab" class="nav nav-tabs nav-stacked">
        {% for c in categories %}
        <li{% if forloop.first %} class="active"{% endif %}><a href="#{{c.slug}}" data-toggle="tab">{{c.name}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="span10">
      {% include 'messages.html' %}

      <div id="tabContent" class="tab-content" style="min-height: 300px; padding-top: 0;">
        {% for c in categories %}
        <div class="tab-pane fade in {% if forloop.first %}active{% endif %}" id="{{c.slug}}">

          <div id="{{c.slug}}Carousel" class="carousel slide" style=" border: 1px solid #ccc;">
            <!-- Carousel items -->
            <div class="carousel-inner">
            {% for listing in c.featured_listings %}
            <div class="item {% if forloop.first %}active{% endif %}">
              <a href="{% url 'listings:view' listing.id %}" style="text-align: center;">
              <img src="{{listing.images.all.0.image.url}}" style="display: block; margin-left: auto; margin-right: auto; height: 400px;" />
              <div class="carousel-caption" style="position: relative; margin-top: 0;">
                <h4>{{listing.name}} <small>by {{listing.user.first_name}}</small></h4>
                <p>{{img.caption}}</p>
              </div>
              </a>
            </div>
            {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#{{c.slug}}Carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#{{c.slug}}Carousel" data-slide="next">&rsaquo;</a>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block js_footer %}
<script>
$(document).ready(function() {
  $('#categories_tab a:first').tab('show');
});
</script>
{% endblock %}
