    <p>
      <small>listed by</small><br />
      {% if user.get_profile.avatar %}
      <img src="{{ user.get_profile.avatar.url }}" />
      {% else %}
      <span style="display: block; width: 100px; height: 60px; background-color: #aaa; color: #fff; font-size: 5em; text-align: center; padding-top: 40px;">{{ user.first_name|slice:":1" }}</span>
      {% endif %}
      <p>{{ user.first_name }}</p>

      {% if user.get_profile.bio %}
      <blockquote><small>{{ user.get_profile.bio|truncatewords:15 }}</small></blockquote>
      {% endif %}

      {% include 'follow/follow.html' with viewed_user=user %}
    </p>
