    <p>
      <small>listed by</small><br />
      {% if viewed_user.get_profile.avatar %}
      <img src="{{ viewed_user.get_profile.avatar.url }}" />
      {% else %}
      <span class="default-avatar">{{ viewed_user.first_name|slice:":1" }}</span>
      {% endif %}
      <p>{{ viewed_user.first_name }}</p>

      {% if viewed_user.get_profile.bio %}
      <blockquote><small>{{ viewed_user.get_profile.bio|truncatewords:15 }}</small></blockquote>
      {% endif %}

      {% include 'follow/follow.html' with viewed_user=viewed_user %}
    </p>
