{% extends 'base.html' %}
{% load url from future %}

{% block html_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <div class="span12">
      <h1>Collections</h1>
    </div>

    <div class="span2">
      <ul id="categories_tab" class="nav nav-tabs nav-stacked">
        <li{% if type == 'featured' or type == None %} class="active"{% endif %}><a href="{% url 'collections:index' %}?type=featured">Featured</a></li>
        <li{% if type == 'new' %} class="active"{% endif %}><a href="{% url 'collections:index' %}?type=new">New</a></li>
      </ul>
    </div>

    <div class="span10">
      {% include 'messages.html' %}

        <table id="collections" class="table">
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
        {% include 'collections/preview.html' with collections=collections table=1 %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block js_footer %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/paging.js"></script>
<script>
  $(document).ready(function() {
    $('#collections').dataTable({
      "sDom": "<'row'<'span4'l><'span4 offset2'f>r>t<'row'<'span4'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "iDisplayLength": 5,
    });
  });
</script>
{% endblock %}
