{% load url from future %}

<script>
$(document).ready(function() {
  var followers = {{viewed_user.get_profile.followers.count}};

  $('#btn_follow').click(function(){
    var text = $('#btn_follow').html();
    var btn_text = '';
    var followers_text = ' followers';
    if (text.indexOf("Unfollow") == -1){
      followers += 1;
      btn_text = '<i class="icon-remove"></i> Unfollow';
    }
    else{
      followers -= 1;
      btn_text = '<i class="icon-user"></i> Follow this user';
    }

    $.get("{% url 'accounts:follow' viewed_user.id %}", function(data){
      console.log('followed');
    });

    if (followers <= 1){
      followers_text = ' follower';
    }


    $('#span_followers').html(followers + followers_text);
    $('#btn_follow').html(btn_text);
  });

});
</script>
